<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>在线考试系统 - 教师用户</title>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script src="../../js/vue-resource.min.js"></script>
    <script src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/overdiv.css">
    <link rel="shortcut icon" href="../../images/favicon.png"/>
</head>

<body class="content-wrapper">
<div class="float_top">
    <button class="btn btn-inverse-info btn-sm" onclick="javascript:smoothscroll();"><i
            class="mdi mdi-format-vertical-align-top"></i> 返回顶部
    </button>
</div>

<div id="app">
    <div class="page-header">
        <h1>试卷 {{paper.pname}}</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">已有题目列表</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th width="30%">题干</th>
                    <th width="10%">类型</th>
                    <th width="30%">参考答案</th>
                    <th width="9%">分值</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(pro, index) in prolist.question_list">
                    <td>{{ pro.id }}</td>
                    <td>{{ pro.problem }}</td>
                    <td v-if="pro.type == 'keguan'">客观题</td>
                    <td v-if="pro.type == 'zhuguan'">主观题</td>
                    <td>{{pro.right}}</td>

                    <td>{{pro.point}}</td>
                    <td><input type="button" class="btn-gradient-info"
                                                            v-on:click="remove(pro.id)" value="删除"/></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="page-header">
        <h1>题库 {{subject}}</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">题库题目列表</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th width="30%">题干</th>
                    <th width="10%">类型</th>
                    <th width="30%">参考答案</th>
                    <th width="9%">分值</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(pro, index) in storeprolist.question_list">
                    <td>{{ pro.id }}</td>
                    <td>{{ pro.problem }}</td>
                    <td v-if="pro.type == 'keguan'">客观题</td>
                    <td v-if="pro.type == 'zhuguan'">主观题</td>
                    <td>{{pro.right}}</td>

                    <td>
                    <input class="form-control" type="text" id="problem" v-model="pro.point">
                    </td>
                    <td v-if="pro.inpaper == 'false'"><input type="button" class="btn-gradient-success "
                                                             v-on:click="insert(pro.id,pro.point)" value="添加"/></td>
                    <td v-if="pro.inpaper == 'true'"><input type="button" class="btn-gradient-info"
                                                            v-on:click="remove(pro.id)" value="撤销"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="../../js/question-choose.js"></script>
</body>

</html>